body {
  /* 9: ; */
  /* grid-template-rows: 304px 537px; */
  height: 100vh;
  grid-template-columns: 1fr minmax(250px, 500px) minmax(250px, 500px) 1fr;
  \39: ;
  grid-template-rows: 1fr 1fr;
}


.app {
  background: rebeccapurple;
  grid: ;
  grid-column: 2/4;
}


Template for html todo item 
<!-- Start of todo item -->
<div class="todo-item">
    <!-- start of form group -->
    <label>
        <input type="checkbox" />
        <span class="bubble business"></span>
    </label>
    <!-- End of form group -->
    <!-- Start of todo content -->
    <div class="todo-content">
        <input type="text" value="make a sandwich" readonly />
    </div>
    <!-- End of todo content -->
    <!-- Start of todo buttons -->
    <div class="actions">
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
    </div>
    <!-- End of todo buttons -->
</div>
<!-- End of todo item -->